* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: visible;
  background-color: #ffe6e6;
  /* Match App.css body background */
}